.Info-parent {
  background: url(../../../assets/infoBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.Info-container {
  position: relative;
  width: 80%;
  height: 70vh;
}
.info-design {
  width: 100%;
}
